@font-face {
    font-family: 'LobsterRegular';
    src: url('../Fonts/Lobster.ttf');
}

/* soft UA reset */
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* override chrome default border style on elements */
*,
*:focus,
*:hover {
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
    font-size: 16px;
}

/* UA reset ends  */

/* user style begins here */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../Images/white-brick.jpg');
    background-size: 100% 100%;
}

.container {
    width: 400px;
    height: 400px;
    padding: 10px;

    border: 5px solid red;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.game-board {
    width: 280px;
    height: 280px;
    border-radius: 5px;

    margin-bottom: 20px;

}

.game-board {
    display: flex;
    flex-wrap: wrap;

    --cell-height: calc(100% / 3);
    --cell-width: calc(100% / 3);
}

.game-board>div {
    border: 1.6px solid blue;

    height: var(--cell-height);
    width: var(--cell-width);
}

.game-board>div:hover {
    cursor: pointer;
}

.cell.one,
.cell.two,
.cell.three {
    border-top-width: 0;
}

.cell.seven,
.cell.eight,
.cell.nine {
    border-bottom-width: 0;
}

.cell.one,
.cell.four,
.cell.seven {
    border-left-width: 0;
}

.cell.three,
.cell.six,
.cell.nine {
    border-right-width: 0;
}

.container button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    color: #242D27;
    background-color: #E8EEEC;
}

.container button {
    font-family: 'LobsterRegular', system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
    letter-spacing: 1.6px;
    font-weight: bold;
    font-size: 1.4rem;
}

.container button:hover {
    cursor: pointer;
}
/* user style ends here */